{% extends 'base.html.twig' %}

{% block body %}
    {{include('section/index/header.html.twig') }}

    {% block content %}
        <div id="wrapper">
            {% for d in events%}
                <div id="container">
                    <h2>{{ d.nom }} - du {{ d.debut|date('Y m d H\\hi') }} à {{ d.fin|date('H\\hi') }}</h2>
                    <p><a href="/event/{{ d.id }}" title="Détail de l'évènement {{ d.id }}">Plus d'informations...</a></p>
                </div>
            {% else %}
                <div class="error"><strong>Désolé :-(</strong> il n'y a pas d'évènements pour le moment.</div>
            {% endfor %}
        </div>

    {% endblock %}

    {{include('section/index/footer.html.twig') }}
{% endblock %}