{% extends 'section/index/index.html.twig' %}

{% block content %}
    <div id="wrapper">
        {% if event is empty %}
            <div class="error">Erreur: l'évènements d'id {{ id }} n'existe pas!</div>
        {% else %}
            <div id="container">
                <h2>{{ event.nom }} - du {{ event.debut|date('Y m d H\\hi') }} à {{ event.fin|date('H\\hi') }}</h2>
                <p>Catégorie: 
                    {% if categorie is not empty %}
                        {{ categorie.nom }}
                    {% else %}
                        aucune
                    {% endif %}
                </p>
                <p>
                    {% if image is not empty %}<img src="{{absolute_url(asset(image.url))}}" alt="image.alt" style='max-width: 400px; max-height: 400px;'/>{%endif%}
                    {% if event.description is not empty %}
                        {{ event.description }}
                    {% else %}
                        There is no description yet.
                    {% endif %}
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}